.container {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 150px;
}

.nav__menu {
    display: block;
    width: 400px;
}

.nav__logo, .nav__menu {
    margin: 3px 0;
}

