.container {
    max-width: 1000px;
    margin: 0 auto;
}
.wrapper {
    margin: 2px;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__logo {
    width: 150px;
}

.nav__menu {
    display: block;
    width: 400px;
}

.nav__logo, .nav__menu {
    margin: 3px 0;
}

.hero__container {
    display: flex;
    justify-content: space-between;
}

.hero__image {
    flex-basis: 49%;
    height: 50vh;
    margin: 10px 0;
}

.testimonials__list {
    display: flex;
    justify-content: space-around;
}

.testimonials__item {
    flex-basis: 32%;
    height: 30vh;
    margin: 10px;
}

.footer__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyrights {
    width: 200px;
    margin: 5px;
}