:root {
    --content: orange;
    --wrapper: green;
    --container: blue;
}

.content {
    background-color: var(--content);
}

.wrapper {
    background-color: var(--wrapper);
}

.container {
    background-color: var(--container);
}