:root {
    --content: orange;
    --wrapper: green;
    --container: blue;
}

.content {
    background-color: var(--content);
    min-height: 50px;
}

.wrapper {
    border: 3px solid var(--wrapper);
    padding: 3px;
}

.container {
    border: 3px solid var(--container);
}