:root {
    --content: orange;
    --main-container: green;
    --section-container: blue;
}

.content {
    background-color: var(--content);
}

.main-container {
    background-color: var(--main-container);
}

.section-container {
    background-color: var(--section-container);
}